main{
    height: calc(100vh - 130px);
    background-color: aquamarine;
    min-height: 500px;
    overflow-y: auto;
}

header{
    height: 80px;
}

footer{
    border:1px solid black;
    height: 50px;

}

.gridrow{
    width: 500px;
    height:500px;
    display: flex;
    flex-wrap:wrap;
  
}

.box{
    /* width: calc(100% / 10);
    height:calc(100% / 10); */
    border:1px solid black;
    

}
.puntatore{
    cursor:pointer;
}